.faq-container {
    background-color: #393e46;
    padding: 30px;
    border-radius: 25px;
    border: 5px solid #ffd369;
    margin-bottom: 50px;
    margin-top: 20px;

    h3 {
        color: #ffd369;
    }

    h4 {
        color: #eeeeee;
    }
}