body { 
  font-family: "Ubuntu";
  margin: 20px 80px;
  background-color: #eeeeee;
  
background-image: url("https://www.transparenttextures.com/patterns/dark-denim-3.png");

}

a {
  text-decoration: none;
  color: black; 
  font-family: "Ubuntu";
}